/*///////////////////////////////////////*/
/* START Co-brand Hotel Redemption styles */
$color-mr: #0075d5;
$color-rc: #1c1c1c;
$color-spg-anchors: #3b68b3;
$color-spg: #4f2e65;
$color-spg-anchors: #8754c9;
$listCircleDiameter: 40px;

.use-award-container {
  margin: 50px 0 30px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.use-award {
  width: 700px;
}
#rc {
  .use-award-header {
    background-color: $color-rc;
  }
  .list-number {
    color: $color-rc;  
  }
  a {
    color: $color-rc-anchors;  
  }
}
#spg {
  .use-award-header {
    background-color: $color-spg;
  }
  #spg .list-number {
    color: $color-spg;
  }
  a {
    color: $color-spg-anchors;
  }
}
.use-award-header {
  background-color: $color-mr;
  color: #fff;
  width: 100%;
  text-align: center;
  h3 {
    padding: 18px 0;
    font-size: 22px;
    text-transform: uppercase;
    background: transparent;
    color: #fff;
    font-family: $font-stack-bold;
    margin-bottom: 0;
  }
}
.use-award-body {
  display: flex;
  justify-content: center;
  background-color: #eee;
  ul {
    padding: 0 50px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  li {
    margin-bottom: 20px;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    line-height: 20px;
  }
  li.note {
    line-height: 16px;
    margin-bottom: 30px;
  }
}
.list-number {  
  background-color: #fff;
  border-radius: 50%;
  margin-right: 20px;  
  color: $color-mr;
  min-width: $listCircleDiameter;
  width: $listCircleDiameter;
  height: $listCircleDiameter;
  line-height: $listCircleDiameter;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  font-size: 22px;
  font-family: $font-stack-light;
}
.list-number.fill {
  background-color: transparent;
  color: transparent;
  min-width: $listCircleDiameter;
  display: inline-block;
}
#tableContainer {
  font-family: "BrownStd", arial, helvetica, sans-serif;
  table {
    table-layout: fixed;
    width: 100%;
  }
  #properties_length select {
    margin-top: 10px;
  }
  th {
    background-color: #f4f4f4;
  }
  .table td, table.dataTable thead th, table.dataTable thead td {
    border-top: none;
    border-bottom: none;
    padding: 25px 18px 22px;
  }
  .dataTables_wrapper .dataTables_filter input {
    margin-left: 0;
  }
  th, td {
    border-right: 1px solid #e3e3e3;
  }
  th {
    text-align: center;
  }
  td {
    padding: 26px 18px !important;
    text-align: center;
  }
  td:first-of-type {
    text-align: left;
  }
  th:first-of-type {
    width: 200px;
    min-width: 200px;
    text-align: left;
  }
  th:last-of-type, td:last-of-type {
    border-right: none;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #eee;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #a2a2a2;
    border: 1px solid #a2a2a2;
  }
  .dataTables_wrapper.no-footer .dataTables_scrollBody {
    border: none;
    margin-bottom: 10px;
  }
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fafafa;
}
#properties_filter {
  font-family: "BrownStd-Light", arial, helvetica, sans-serif;
}
#mr td.sorting_1 {
  color: #0075d5;
}
#spg td.sorting_1 {
  color: #8754c9;
}
#rc td.sorting_1 {
  color: #3b68b3;
}
p {
  font-family: "BrownStd", arial, helvetica, sans-serif;
}
.tiniertype {
  font-size: .8rem !important;
}

@media only screen and (max-width: 992px) {
  .use-award-body ul li {
    flex-direction: column;
  }
  .use-award-body ul {
    text-align: center;
  }
  .list-number {
    margin: 0 auto 10px;
  }
  .list-number.fill {
    display: none;
  }
  li.note {
    margin-top: 20px;
  }
}
/* END Co-brand Hotel Redemption styles */
/*/////////////////////////////////////*/