body {
  font-family: Helvetica;
  color: #555;
  font-size: 14px;
}
h1,h2,h3,h4,p {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
.ft-xs {
  font-size: 12px;
}
/*--------------------------------------*/
.use-award-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.use-award {
  width: 700px;
}
.use-award-header {
  background: #0075d5;
  color: #fff;
  width: 100%;
  text-align: center;
}
.use-award-header h3 {
  padding: 14px 0;
  font-size: 20px;
  text-transform: uppercase;
}
.use-award-body {
  display: flex;
  justify-content: center;
  background-color: #eee;
}
.use-award-body ul {
  padding: 0 50px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.use-award-body ul li {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  line-height: 20px;
}
.use-award-body ul li.note {
  line-height: 16px;
}
.list-number {  
  background-color: #fff;
  border-radius: 50%;
  margin-right: 20px;  
  color: #0075d5;
  min-width: 34px;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
}
.list-number.fill {
  background-color: transparent;
  color: transparent;
  min-width: 34px;
  display: inline-block;
}
#tableContainer {
  font-family: "BrownStd", arial, helvetica, sans-serif;
}
#tableContainer table {
  table-layout: fixed;
  width: 100%;
}
#tableContainer #properties_length select {
  margin-top: 10px;
}
#tableContainer th {
  background-color: #f4f4f4;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fafafa;
}
#tableContainer .table td, #tableContainer table.dataTable thead th, #tableContainer table.dataTable thead td {
  border-top: none;
  border-bottom: none;
  padding: 25px 18px 22px;
}
#tableContainer .dataTables_wrapper .dataTables_filter input {
  margin-left: 0;
}
#tableContainer th, #tableContainer td {
  border-right: 1px solid #e3e3e3;
}
#tableContainer td {
  padding: 26px 18px !important;
  text-align: center;
}
#tableContainer td:first-of-type {
  text-align: left;
}
#tableContainer th:first-of-type {
  width: 200px;
  min-width: 200px;
  text-align: left;
}
#tableContainer th {
  text-align: center;
}
#tableContainer th:last-of-type, #tableContainer td:last-of-type {
  border-right: none;
}
#properties_filter {
  font-family: "BrownStd-Light", arial, helvetica, sans-serif;
}
#mr td.sorting_1 {
  color: #0075d5;
}
#spg td.sorting_1 {
  color: #8754c9;
}
#rc td.sorting_1 {
  color: #3b68b3;
}
#tableContainer .dataTables_wrapper .dataTables_paginate .paginate_button.current, #tableContainer .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: #eee;
}
#tableContainer .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: #a2a2a2;
  border: 1px solid #a2a2a2;
}
#tableContainer .dataTables_wrapper.no-footer .dataTables_scrollBody {
  border: none;
  margin-bottom: 10px;
}
p {
  font-family: "BrownStd", arial, helvetica, sans-serif;
}
.tinier-type {
  font-size: .75rem;
}

@media (max-width: 992px) {
  .use-award-body ul li {
    flex-direction: column;
  }
  .use-award-body ul {
    text-align: center;
  }
  .list-number {
    margin: 0 auto 10px;
  }
  .list-number.fill {
    display: none;
  }
  li.note {
    margin-top: 20px;
  }
}





